<div>
    <h2>{{name}}</h2>
    <p>
        Height: {{height}} centimeters<br />
        Mass: {{mass}} kilograms<br />
        Birth Year: {{birth_year}}<br />
        Gender: {{gender}}<br />
        Eye Color: {{eye_color}}<br />
        Hair Color: {{hair_color}}<br />
    </p>
</div>
